.action-btn{
    height: 55px;
    padding: 0 10px;
    color: white;
    transition: transform 0.05s linear;
    
    &:hover{
        transform: scale(1.03);
    }

    &:active{
        transform: scale(0.98);
    }

    & > img{
        height: 100%;
    }
}