form{
    position: relative;
    width: 400px;

    .sub-menu-search-box{
        width: 100%;
        font-size: 1.3rem;
        padding: 15px 0;
        padding-left: 5%;
        border: none;
    }
    
    .sub-menu-search-btn{
        height: 100%;
        width: 60px;
        position: absolute;
        top: 0;
        right: 0;
        background: var(--primary-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover{
            background: var(--primary-light);
        }

        svg{
            fill: white;
            height: 24px;
            width: 24px;
        }
    }
}


