.front-page{
    width: 100%;
    display: flex;

    &-poster{
        //border: 1px solid red;
        background-image: linear-gradient(to top,rgb(0, 0, 0),rgba(0, 0, 0, 0)), url("https://m.media-amazon.com/images/M/MV5BNWI5NWVkYTQtOGE3Yy00Y2Q0LTllNjktOWZlYzYwYjEzZjBhXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg");
        flex: 1;
        min-height: 400px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;

        .text{
            align-self: flex-end;
            text-align: center;
            margin-bottom: 8%;

            &-heading{
                font-size: 2rem;
                color: white;
                margin-bottom: 3%;
                font-weight: 300;
            }

            &-cta{
                cursor: pointer;
                background: var(--primary-dark);
                border: none;
                font-size: 1.6rem;
                padding: 10px 20px;
                border-radius: 100px;
                color: white;
                transition: 0.1s transform linear;
                box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.507);

                &:hover{
                    transform: scale(1.05);
                    border: 1px solid var(--secondary);
                }

                &:active{
                    transform: scale(1);
                }
            }
        }
    }

}