.login-page-form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6% 0;
    
    div{ //input box container
        height: 60px;
        width: 70%;
        margin-bottom: 6%;
        border-radius: 4px;
        overflow: none;
        padding-left:10px;
        padding-right: 30px;
        position:relative;
        //border: 1px solid;

        input{
            height: 100%;
            width: 100%;
            border: none;
            font-size: 1rem;
            background: white;
            color: rgba(0, 0, 0, 0.849);
        }

        button{
            width: 30px;
            height: 100%;
            position: absolute;
            right: 5px;
            top: 0;
            cursor: pointer;
            background: white;
        }
    }

    .actionBtnWrapper{
        width: 100px;
        height: 60px;
        padding: 0;

        .loading{
            width: 100%;
            height: 100%;
            padding: 0;
            position: relative;
            
            .animation{
                background: url('../SubmitBtn/load.gif');
                background-repeat: no-repeat;
                width: 70px;
                height: 60px;
                padding: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .login-btn{
            width: 100%;
            height: 100%;
            background: var(--primary-light);
            font-size: 1.3rem;
            color: white;
            cursor: pointer;
            transition: all 0.1s linear;
    
            &:hover{
                border: 1px solid var(--secondary);
            }

            &:active{
                transform: scale(0.95);
            }
        }
    }
}

@keyframes popup {
    0%{
        opacity: 0;
        transform: translateY(5%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}