.portal{
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
}

.upload-box-wrapper{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    

    .upload-box{
        background: white;
        border-radius: 10px;
        min-height: 650px;
        width: 550px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 20px;
        padding-bottom: 20px;

        &-title{
            flex: 0 0 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.11);

            h2{
                font-size: 2.2rem;
                font-weight: 200;
            }
        }

        &-content{
            flex: 1;
            background: rgba(0, 128, 0, 0.034);
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &-item{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                width: 100%;

                .radios{
                    margin-bottom: 20px;
                    display: flex;
                    .option:first-child{
                        margin-right: 3%;
                    }
                }

                .inputs{
                    //background: red;
                    padding: 0 15px;

                    .textBox{
                        background: white;
                        &:not(:last-child){
                            margin-bottom: 18px;
                        }

                        &-input{
                            padding: 0;
                            padding-left: 5px;
                        }
                    }

                    .action-btn-wrapper{
                        padding: 0 60px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        button{
                            padding: 0 50px;
                            background: var(--primary-dark);
                        }
                    }
                }
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



